.video-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.video-thumbnail {
    flex: 0 0 calc(24.5% - 0.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.3em;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    border: 1px solid var(--border-color);
    font-size: 0.85rem;
    box-sizing: border-box;
    min-width: 180px;
}

.video-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--shadow-red);
    border-color: var(--netflix-red);
}

.video-thumbnail.active {
    border-color: var(--netflix-red);
    box-shadow: 0 0 15px var(--shadow-red-active);
    background-color: #292929;
}

.video-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.video-thumbnail span {
    color: #f5f5f5;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.video-thumbnail button {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border: 2px dashed #444;
    color: var(--font-color);
    font-size: 16px;
    border-radius: 6px;
}