services:
  db:
    image: postgres:16
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=compression_vis
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  backend:
    platform: linux/amd64
    build:
      context: ./backend
    container_name: django_app
    volumes:
      - ./backend:/app
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py shell < /app/startup.py &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=compression_vis
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    
  frontend:
    build:
      context: ./frontend
    container_name: react_app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
      - PORT=3000
