python-dotenv
pyhumps
uvicorn
celery

django
djangorestframework
djangorestframework-simplejwt
redis
django-cors-headers
django-redis
django-celery-results

datetime

motion-vector-extractor
opencv-python
psycopg2-binary
ffmpeg-quality-metrics
