@import './../shared/Shared.css';

.admin-page {
  display: flex;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: auto;
  gap: 1em;
  margin-left: 5rem;
}

.admin-page button {
  background-color: var(--netflix-red);
  color: var(--font-color);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.admin-page button:hover {
  background-color: var(--netflix-dark-red);
  transition: all 0.3s ease;
}

.admin-page label {
  background-color: var(--netflix-red);
  color: var(--font-color);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.admin-page label:hover {
  background-color: var(--netflix-dark-red);
  transition: all 0.3s ease;
}

.video-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.video-row span {
  flex: 1;
  margin-right: 12px;
  font-size: 14px;
}


