@import '../shared/Shared.css';

.charts-container {
    display: flex;
    overflow: hidden;
    padding: 2em;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    gap:1em;
    width: 100%;
    margin: 1em auto;
    height: 90vh;
}

.charts-leftside {
    direction: rtl;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0.5rem;
    direction: left;
    scrollbar-width: thin;
    scrollbar-color: var(--netflix-red) var(--background-second);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 100%;
}

.charts-leftside > * {
    direction: ltr;
}

.charts-rightside {
    padding: 8px;
    width: 35%;
    height: 100%;
    min-height: 0;
    min-width: 400px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.charts-rightside-top {
    padding: 0.2rem 0.2rem 0 0.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.refresh-compressions-button {
    padding: 4px;
    width: 65px;
    height: 65px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: 3px solid var(--netflix-light-grey);
    background-color: var(--border-color);
    color: var(--netflix-light-grey);
    font-size: x-large;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease-in-out, border-color 0.2s ease;
}

.refresh-compressions-button:hover {
    background-color: var(--netflix-red);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transform: scale(1.05);
    border-color: #fff;
}

.charts-rightside-bottom {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80px 1fr;
    gap: 0.5rem 1.2rem;
    padding: 0 0.5rem;
    margin: 25px 0 10px 0;
    min-height: 0;
}

h4 {
    text-align: center;
    padding: 10 10px;
    margin: 5px 0 10px 0;
    border-bottom: solid 0.05rem #fff;
}


