@import '../shared/Shared.css';

.charts-container {
    display: flex;
    overflow: hidden;
    padding: 1em;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    gap:1em;
    width: 100%;
    margin: 1em auto;
    height: auto;
}

.charts-leftside {
    direction: rtl;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0.5rem;
    direction: left;
    scrollbar-width: thin;
    scrollbar-color: var(--netflix-red) var(--background-second);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 90vh;
}

.charts-leftside > * {
    direction: ltr;
}

.charts-rightside {
    width: 35%;
    max-width: 400px;
    min-height: 90vh;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.charts-rightside-top {
    padding: 0.2rem;
    display: flex;
    flex-direction: row-reverse;
}

.refresh-compressions-button {
    padding: 4px;
    width: 30px;
    height: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    background-color: var(--background-second);
    color: #fff;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.refresh-compressions-button:hover {
    background-color: var(--netflix-red);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transform: scale(1.05);
}

.charts-rightside-bottom {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80px auto;
    gap: 0.5rem 1.2rem;
    padding: 0 0.5rem;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    padding: 10 10px;
    margin: 5px 0 10px 0;
    border-bottom: solid 0.05rem #fff;
}

.charts-options, .charts-compressions-rank {
    padding: 10px 5px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.charts-options {
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.charts-compressions-rank {
    padding: 0 5px;
}