@import '../shared/Shared.css';

.distribution-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 1em;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    gap:1em;
    width: 100%;
    margin: 1em auto;
    height: auto;
}

.main-frame-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}