@import '../shared/Shared.css';

.distribution-container {
    font-family: sans-serif;
    color: var(--font-color);
    padding: 16px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    width: 90%;
    margin: 0 auto;
}

.main-frame-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}