@import '../shared/Shared.css';

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  justify-content: space-between;
}


.video-section {
  display: flex;
  flex: 6;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid var(--border-color);
  padding: 30px;
  background-color: var(--background-first);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  gap: 10px;
}


