
.quiz-box ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

.quiz-box li {
  font-size: 1rem;
  margin: 8px 0;
  text-align: left;
  color: #333;
}

.quiz-content {
  display: flex;
  transition: all 0.3s ease;
  flex: 1;
  box-sizing: border-box;
  transition: margin 0.3s ease;
  justify-content: center;
  border: 0 solid white;
  height: fit-content;
}

.question-box {
  width: 50vw;
  background-color: #1e1e1e;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid white; 
}

.options-box {
  background-color: #1e1e1e;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-option {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  border-radius: 6px;
  padding: 10px 15px;
  transition: background-color 0.2s;
  border: 2px solid transparent;
  cursor: pointer;
}

.quiz-option:hover {
  background-color: #3a3a3a;
}

.quiz-option input[type="checkbox"],
.quiz-option input[type="radio"] {
  accent-color: #e50914;
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.quiz-option p {
  margin: 0;
  color: white;
}

.quiz-option.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.quiz-option input:checked + p {
  font-weight: bold;
  color: var(--netflix-red);
}

.quiz-option-incorrect.disabled {
  background-color: var(--netflix-dark-red);
}

.quiz-option-incorrect.disabled input[type="checkbox"] {
  accent-color: var(--netflix-very-dark-red);
}
.quiz-option-correct.disabled {
  background-color: var(--netflix-green);
}

.quiz-option-correct.disabled input[type="checkbox"] {
  accent-color: var(--netflix-dark-green);
}

.quiz-option-incorrect.disabled input:checked + p, .quiz-option-correct.disabled input:checked + p {
  color: white;
}

.navigation-box {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.navigation-box button {
  background-color: var(--netflix-red);
  color: white;
  border: none;
  padding: 0.8rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navigation-box button:hover {
  transform: scale(1.1);
  background-color: var(--netflix-dark-red);
}

.navigation-box button.disabled {
  background-color: var(--netflix-dark-red);
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.end-navigation-box {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  gap: 1.5rem;
}
