.left-section {
    flex: 6;
}

.frame-preview,
.video-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.frame-preview img,
.video-preview video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}
