.left-section {
    flex: 6;
}

.frame-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.frame-preview img {
    width: 95%;
    height: auto;
    /*border-radius: 8px;*/
}
