.custom-switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 220px;
    height: 40px;
    background: var(--background-second);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.custom-switch.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.custom-switch span {
    flex: 1;
    text-align: center;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
    z-index: 2;
    transition: color 0.3s ease;
    line-height: 32px;
}

.custom-switch span.active {
    color: #000;
    font-weight: 500;
}

.custom-switch .slider {
    position: absolute;
    top: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background: #00bcd4;
    border-radius: 8px;
    transition: left 0.3s ease;
    z-index: 1;
}

.custom-switch .slider.grid {
    left: 4px;
}

.custom-switch .slider.disappear {
    left: calc(50% + 0px);
}