.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    gap: 20px;
    padding: 20px 0;
}

.content-box {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}

.macroblock-img {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.macroblock-expandable {
    border: 1px solid #00bcd4;
    border-radius: 10px;
    background: var(--background-second);
    overflow: hidden;
}


.macroblock-btn {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #00bcd4;
    background: var(--background-second);
    color: #00bcd4;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;
}

.macroblock-expandable .macroblock-btn {
    border: none;
    border-radius: 0;
}

.macroblock-expandable.loading {
    opacity: 0.5;
}

.macroblock-btn:hover:not(:disabled) {
    background-color: #00bcd4;
    color: #000;
}

.macroblock-btn:focus-visible {
    outline: none;
    box-shadow: none;
}

.macroblock-btn.vector:disabled {
    opacity: 0.5 !important;
}

.macroblock-btn:disabled {
    cursor: not-allowed !important;
}

.checkbox-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 1;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 16px;
    background-color: var(--background-second);
    box-sizing: border-box;
}

.checkbox-container.loading {
    opacity: 0.5;
    cursor: not-allowed;
}

.checkbox-container.loading * {
    cursor: not-allowed !important;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: var(--font-color);
}

.checkbox-container input[type="checkbox"] {
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #1e1e1e;
    color: #eee;
    padding: 25px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    text-align: center;
}

.frame-info {
    border: 1px solid var(--border-color);
    background-color: var(--background-second);
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.frame-info p {
    font-size: 1em;
    margin: 1em;
    color: var(--font-color);
}

.macroblock-info-box {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    padding: 0 16px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-second);
    transition: max-height 0.4s ease,
    opacity 0.4s ease 0.1s,
    margin-top 0.4s ease,
    padding 0.4s ease;
}

.macroblock-info-box.visible {
    max-height: 600px;
    opacity: 1;
    margin-top: 15px;
    padding: 12px 16px;
    transition: max-height 0.4s ease,
    opacity 0.4s ease,
    margin-top 0.4s ease,
    padding 0.4s ease;
}

.macroblock-info-box h4 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.1em;
}

.macroblock-info-box p {
    margin: 6px 0;
    color: var(--font-color);
}

.macroblock-close-btn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #00bcd4;
    background-color: var(--background-second);
    color: #00bcd4;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.macroblock-close-btn:hover {
    background-color: #00bcd4;
    color: #000;
}

.label-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.label-intra  { background: #ff4d4d; }
.label-inter  { background: #4dff4d; }
.label-skip   { background: #4d4dff; }
.label-direct { background: #4dffff; }