.quiz-box {
  margin: 2rem auto;
  padding: 2rem 3rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: var(--background-first);
  height: fit-content;
}

.quiz-box h1 {
  padding: 20px 60px; 
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;

  border-bottom: solid 1px white;
}

.quiz-box p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-box button {
  background-color: var(--netflix-red);
  color: white;
  border: none;
  padding: 0.8rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.quiz-box button:hover {
  transform: scale(1.1);
  background-color: var(--netflix-dark-red);
}

.quiz-box > div {
  display: flex;
  gap: 1rem;
}