.quiz-navigation {
    position: relative;
    
    width: 20vw;
    padding: 2rem;
    margin: 0.8rem;

    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;

    align-content: flex-start;

    transition: margin-left 0.8s ease;
}

.quiz-navigation > .question {
    width: 3.2vw;
    height: 5rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quiz-navigation > .question.selected {
    background-color: white;
    color: black;
}

.quiz-navigation > .question.nonanswered {
    background-color: var(--background-second);
    color: white;
}

.quiz-navigation > .question.answered {
    background-color: var(--netflix-red);
    color: white;
}

h3 {
    height: 1.5rem;
    text-align: center;
}

.quiz-navigation-check-true {
    height: 1.5rem;
    width: 100%;

    background-color: black;
    border-top: solid white 2px;
}

.quiz-navigation-check-false {
    height: 1.5rem;
    width: 100%;
    border-top: solid white 2px;
    background-color: rgba(150, 7, 15);
}

.quiz-navigation-check-now {
    height: 1.5rem;
    width: 100%;
    background-color: rgb(156, 156, 156);
}

.quiz-navigation button {
    background-color: var(--netflix-red);
    color: white;
    border: none;
    padding: 0.8rem 1.3rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.quiz-navigation button:hover {
    transform: scale(1.1);
    background-color: var(--netflix-dark-red);
}