.quiz-box {
  margin: 2rem auto;
  padding: 2rem 3rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: var(--background-first);
  height: fit-content;
}

.quiz-box h1 {
  padding: 20px 60px; 
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;

  border-bottom: solid 1px white;
}

.quiz-box p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-box button {
  background-color: rgba(229, 9, 20, 0.7);
  color: #222;
  border: 1px solid #999;
  padding: 10px 20px;
  margin: 10px 5px;

  font-size: 1rem;
  font-weight: 700;

  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.quiz-box button:hover {
  background-color: #e50914;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}