@import "../../shared/Shared.css";

/* .chfds {
    height: 100%;
    overflow: hidden;
} */

.charts-options {
    min-height: 0;
    padding: 0 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--netflix-red) var(--background-second);   
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 10px;
}

/* .charts-options-panel > * {
    direction: ltr;
} */

.compression-in-select-panel {
    direction: ltr;
    border-bottom: solid 0.05rem #fff;
    padding: 2px 10px;
    margin: 3px 0;
    background-color: var(--background-third);
    height: 50px;   

    border: 1px solid var(--border-color);
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box; 
    flex-shrink: 0; 
    transition: transform 0.2s ease;
}

.compression-in-select-panel.disactive {
    background-color: var(--background-second);
    color: var(--border-color);
}

.compression-in-select-panel.active:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.selection-option-left {
    display: flex;
    font-size:x-small;
    font-style: italic;
    font-weight: 700;
    height: 90%;
    align-items: center;
    padding-right: 8px;
    border-right: 0.01rem solid var(--background-fourth);
    width: 70%
}
