.metric-chart-block {
    width: 100%;
    height: 400px;
    padding: 30px 10px;
}

.metric-chart-block h2 {
    text-align: center;
    font-size: xx-large;
    padding-bottom: 40px;
}

.metric-chart-top-layout {
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--netflix-red) var(--background-second);   
}

.metric-chart-inner-layout {
    /* width: 1000px */
}