.metric-chart-block {
    width: 100%;
    height: 60vh;
    padding: 0 10px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.metric-chart-block h2 {
    text-align: center;
    font-size: xx-large;
}

.metric-chart-top-layout {
    width: 95%;
    padding-top: 30px;
}

.metric-chart-inner-layout {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    position: relative
}

.metric-chart-y-axis {
    width: 60px; 
    flex-shrink: 0;
    height: 97%;
    margin: 20px 0;
}

.metric-chart-scroll {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 20px 0px;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.metric-chart-content {
    height: 100%;
    flex-shrink: 0;
}