@import url("../../shared/Shared.css");


.select-wrapper {
    position: relative;
    width: 250px;
}

.select-trigger {
    padding: 8px;
    background: #222;
    border: 1px solid #444;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.select-selected {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-selected img {
    width: 40px;
    height: 25px;
    border-radius: 4px;
    object-fit: cover;
}

.select-options {
    position: absolute;
    top: 110%;
    width: 100%;
    background: #1b1b1b;
    border: 1px solid #444;
    border-radius: 8px;
    z-index: 999;
    padding: 5px 0;
}

.select-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    cursor: pointer;
}

.select-option:hover {
    background: #333;
}

.select-option img {
    width: 40px;
    height: 25px;
    border-radius: 4px;
    object-fit: cover;
}
